@using bookstore_app.Models
@{
    ViewBag.Title = "Results";
}
<br /><br /><br /><br /><br /><br />
<h2>Authors</h2>

<p><b>Results</b></p>

<table class="table">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
    </tr>
    @foreach (authors author in ViewBag.results)
    {
        <tr>
            <td>@author.au_fname</td>
            <td>@author.au_lname</td>
            <td>@author.address</td>
            <td>@author.phone</td>
            <td>@author.city</td>
            <td>@author.state</td>
            <td>@author.zip</td>
        </tr>

    }
</table>

 

